*{
    padding: 0;
    border: 0;
    margin: 0;

    box-sizing: border-box;
    color : white;
    
}

body{
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 15px;
}

.description-container{
    padding-left: 50px;
}

.title{
    font-size: 70px;
    font-family: 'Padauk', sans-serif;
}

.description-box{
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 30px;
    line-height: 2.5rem;
    font-size: 28px;
    font-weight: 50;
}

.beautify-hr{
    background-color: white;
    width: 20%;
    height: 7px;
    border: 1px solid white;
    border-radius: 5px;
}


.myButton {
	box-shadow:inset 0px 0px 24px -26px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:13px 50px;
	text-decoration:none;
	text-shadow:0px 0px 0px #44126e;
    margin-top: 8px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.myButton:active {
	position:relative;
	top:1px;
}
